name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod

      - name: Get Linux C Dependencies
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends bc clang lld libgl1-mesa-dev libwayland-dev libx11-dev libxkbcommon-dev xorg-dev xvfb language-pack-en
          echo "CC=clang" >> "$GITHUB_ENV"
          echo "CGO_LDFLAGS=-fuse-ld=lld" >> "$GITHUB_ENV"

      - name: Setup
        run: |
          mkdir -p dist
          go mod download

      - name: Test Packages
        run: go test -v ./...

      - name: Build QYT App
        run: |
          go build -v \
            -o "dist/qyt-app-$(go env GOOS)-$(go env GOARCH)" \
            -ldflags="-w -s" \
            -gcflags=-trimpath="$(pwd)" \
            -asmflags=-trimpath="$(pwd)" \
            "./cmd/qyt-app"

      - name: Build QYT
        run: | 
          go build -v \
            -o "dist/qyt-$(go env GOOS)-$(go env GOARCH)" \
            -ldflags="-w -s" \
            -gcflags=-trimpath="$(pwd)" \
            -asmflags=-trimpath="$(pwd)" \
            "./cmd/qyt"

      - name: Save Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: qyt-builds-${{ matrix.os }}-${{ github.ref_name }}
          path: dist/

  release:
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v6

      - name: Create Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          name: QYT Release ${{ github.ref_name }}
          prerelease: true
          draft: true
          files: |
            qyt-builds-*/qyt-*
